body{
    font-size: 16px;
    color: #000;	
    
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 2px solid #000;
}


#header-nav{
    background: rgba(0, 0, 0, 0.4);   
    border: 2px solid #000;
    border-radius: 0;
}


.navbar-nav {
    margin: 0 -15px;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;  
}

#nav-list{
    border: 1px solid;
}

#nav-list:nth-child(3){
    border-bottom:0;
}

#nav-list li{
    background:#fff;
    border-bottom: 2px solid;
}

#nav-list li:nth-child(3){
    border-bottom: 0;
}

#nav-list li a{
    color:#000;
    font-weight: 600;
    line-height: 8px
}

.navbar-default .navbar-brand {
    font-weight: 700;
    font-size: 30px;
    color: #000;
    margin: 10px ;
}

.menu {
    margin: 15px;
}

.menu-title{
    font-weight: 700;
    font-size: 24px;
}

.menu-item{
    margin: 20px 0;
    background: rgba(0, 0, 0, 0.2);  
    padding: 10px;
}

.menu-item p{
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
}
@media (max-width :767px){
    .navbar-brand:focus, .navbar-brand{
      margin-left: 10px;
    }
    .menu{
        width: 80%;
        margin: 0 auto;      
    }
    .menu-item p {
        font-size: 12px;
        padding: 10px;
        line-height: 20px;
    }
}